<nav class="navbar navbar-expand-lg navbar-dark bg-color-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="centrado">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/home">Con&oacute;cenos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/home">Herramientas</a>
              </li>
             
    
              <li class="nav-item">
                <button class="navbar-brand btn .boton-none" routerLink="/home/listaDeseos">
                  <em class="fa-solid fa-heart" style="margin-bottom:5px;"></em>
                </button>
              </li>   
              
              
              <li class="dropdown">
                <a class="nav-link dropdown-toggle"  href="#"  id="navbarDropdownUsuario" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-key pb-1" viewBox="0 0 16 16">
                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                  </svg>
                  <span class="px-1">{{userName}}</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownUsuario">
                  <li><a  class="dropdown-item" routerLink="usuarios/validacionUsuario">Usuarios</a></li>
                  <li ><a  class="dropdown-item" routerLink="usuarios/perfil">Perfil</a></li>

                </ul>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </nav>